@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: verdana, genava, tahoma;
    --fonte2:"Passion One", cursive,sans-serif;
    --fonte3:"Sriracha", cursive, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-image: linear-gradient(to top, rgb(180, 163, 83),rgb(189, 180, 155));
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: auto;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.356);
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.4vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.205);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}